{% extends "logus/base.html" %}
{% load humanize %}

{% load staticfiles %}


{% block content %}

	<div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
	            <br />
		<div class="panel panel-default">

			<div class="panel-heading">
			    <img src="{% static '/favicon/favicon.ico' %}"/>
		      	<a style="font-size: large;">Sistema LOGUS</a>      	
			    <h2>Redefenir Senha</h2>
			</div>

			<div class="panel-body">

				<form method="post">
					{% csrf_token %}

					{% if form.errors %}					    
					    {% for error in form.non_field_errors %}				    
					        <div class="alert alert-danger">
					            <strong>{{ error|escape }}</strong>
					        </div>
					    {% endfor %}
					{% endif %}

					<div style="margin-bottom: 25px" class="input-group">
	                	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input autofocus id="email" name="email" type="text" class="form-control"  value="" placeholder="Email registrado no sistema"> 
                	</div>
                	{% if form.email.errors %}
                		<div class="alert alert-danger">
					    	<strong> {{ form.email.errors|escape }}</strong>
					    </div>
					{% endif %}

					<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-send"></span> Enviar solicitação</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}