{% extends "logus/base.html" %}
{% load humanize %}

{% load staticfiles %}


{% block content %}

	<div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
	            <br />
		<div class="panel panel-default">

			<div class="panel-heading">
			    <img src="{% static '/favicon/favicon.ico' %}"/>
		      	<a style="font-size: large;">Sistema LOGUS</a>      	
			    <h3>Confirmar redefinição da senha</h3>
			</div>

			<div class="panel-body">

				<form method="post">
					{% csrf_token %}

					
					{% if form.errors %}					    
					    {% for error in form.non_field_errors %}				    
					        <div class="alert alert-danger">
					            <strong>{{ error|escape }}</strong>
					        </div>
					    {% endfor %}
					{% endif %}
			      	
					
                	<div style="margin-bottom: 25px" class="input-group">
	                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	                    <input name="new_password1" type="password" class="form-control" placeholder="Nova Senha">
                	</div>
                	{% if form.new_password1.errors %}
                		<div class="alert alert-danger">
					    	<strong> {{ form.new_password1.errors|escape }}</strong>
					    </div>
					{% endif %}

					<ul>
						<li>Sua senha não pode ser tão parecida com suas outras informações pessoais.</li>
						<li>Sua senha precisa conter pelo menos 8 caracteres.</li>
						<li>Sua senha não pode ser uma senha habitualmente utilizada.</li>
						<li>Sua senha não pode ser inteiramente numérica.</li>
					</ul>


					<div style="margin-bottom: 25px" class="input-group">
	                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	                    <input name="new_password2" type="password" class="form-control" placeholder="Repetir Nova Senha">
                	</div>
                	{% if form.new_password2.errors %}
                		<div class="alert alert-danger">
					    	<strong> {{ form.new_password2.errors|escape }}</strong>
					    </div>
					{% endif %}

                	<button id="btnLogin" runat="server" class="btn btn-success" style="width: 100%" type="submit"> <span class="glyphicon glyphicon-ok"></span> Salvar 
            		</button>
       
		            

				</form>
				
			</div>
		</div>
	</div>

{% endblock %}