{% extends "logus/base.html" %}
{% load humanize %}

{% load staticfiles %}


{% block content %}

	<div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
	            <br />
		<div class="panel panel-default">

			<div class="panel-heading">
			    <img src="{% static '/favicon/favicon.ico' %}"/>
		      	<a style="font-size: large;">Sistema LOGUS</a>      	
			    <h3>Redefinição de Senha Completa</h3>
			</div>

			<div class="panel-body">

				<p>Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
  				<a href="{% url 'login' %}" class="btn btn-default">Fazer login <span class="glyphicon glyphicon-log-in"></span></a>	
				
			</div>
		</div>
	</div>

{% endblock %}